---
import { fakerCS_CZ as faker } from '@faker-js/faker';
import Layout from '../../components/Layout.astro';

const metaTags = {
  title: 'Blog - Největší polštářová bitva v ČR',
  description: 'Největší polštářová bitva v České Republice, pořádaná v roce 2024',
};

const posts = new Array(6).fill({}).map(() => ({
  title: faker.lorem.sentence(3),
  href: `/blog/${faker.lorem.slug()}`,
  category: { name: faker.word.noun(), href: '#' },
  description: faker.lorem.paragraphs(2),
  date: 'Mar 16, 2020',
  datetime: '2020-03-16',
  imageUrl:
    'https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80',
  readingTime: '6 min',
  author: {
    name: faker.person.fullName(),
    href: '#',
    imageUrl: 'http://sutb.cz/assets/alena_skarupova.cf026ee2.jpg',
  },
}));
---

<Layout {...metaTags}>
  <section class="py-28">
    <div class="container mx-auto px-4 md:px-6 lg:px-8">
      <div class="relative mx-auto max-w-7xl">
        <div class="text-center">
          <h1 class="text-7xl font-extrabold tracking-wider">Novinky z blogu</h1>
          <p class="mx-auto mt-3 max-w-2xl text-xl text-gray-500 sm:mt-4">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa libero labore natus atque, ducimus sed.
          </p>
        </div>
        <div class="mx-auto mt-12 grid max-w-lg gap-8 lg:max-w-none lg:grid-cols-3">
          {
            posts.map((post) => (
              <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                <a href={post.href} class="flex-shrink-0 overflow-hidden">
                  <img
                    class="h-48 w-full object-cover hover:scale-105 transition duration-300"
                    src={post.imageUrl}
                    alt=""
                  />
                </a>
                <div class="flex flex-1 flex-col justify-between bg-white p-6">
                  <div class="flex-1">
                    <p class="text-xs font-medium bg-orange-600 uppercase w-fit px-4 py-1 rounded-full text-orange-50 -mt-1 -mx-1">
                      <a href={post.category.href} class="hover:underline">
                        {post.category.name}
                      </a>
                    </p>
                    <a href={post.href} class="mt-2 block">
                      <p class="text-xl font-semibold text-gray-900">{post.title}</p>
                      {post.description.split('\n').map((p) => (
                        <p class="mt-3 text-base text-gray-500">{p}</p>
                      ))}
                    </a>
                  </div>
                  <div class="mt-6 flex items-center">
                    <div class="flex-shrink-0">
                      <p>
                        <span class="sr-only">{post.author.name}</span>
                        <img class="h-10 w-10 rounded-full" src={post.author.imageUrl} alt="" />
                      </p>
                    </div>
                    <div class="ml-3">
                      <p class="text-sm font-medium text-gray-900">{post.author.name}</p>
                      <div class="flex space-x-1 text-sm text-gray-500">
                        <time date-time={post.datetime}>{post.date}</time>
                        <span aria-hidden="true">&middot;</span>
                        <span>{post.readingTime} read</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
